## Downloading data

In [48]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
url = "https://api.figshare.com/v2/articles/14096681"
output_directory = "figsharerainfall/"

response = requests.request("GET", url)
data = json.loads(response.text)
files = data["files"]
files

[{'id': 26579150,
  'name': 'daily_rainfall_2014.png',
  'size': 58863,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579150',
  'supplied_md5': 'fd32a2ffde300a31f8d63b1825d47e5e',
  'computed_md5': 'fd32a2ffde300a31f8d63b1825d47e5e'},
 {'id': 26579171,
  'name': 'environment.yml',
  'size': 192,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579171',
  'supplied_md5': '060b2020017eed93a1ee7dd8c65b2f34',
  'computed_md5': '060b2020017eed93a1ee7dd8c65b2f34'},
 {'id': 26586554,
  'name': 'README.md',
  'size': 5422,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26586554',
  'supplied_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c',
  'computed_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c'},
 {'id': 26766812,
  'name': 'data.zip',
  'size': 814041183,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766812',
  'supplied_md5': 'b517383f76e77bd03755a63a8ff83ee9',
  'computed_md5': 'b517383f76e77bd03755a63a8ff83ee9'},
 {'id': 26766815,
  'name': 'get_data.py',
  'size': 4113,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766815',
  'supplied_md5': '7829028495fd9dec9680ea013474afa6',
  'computed_md5': '7829028495fd9dec9680ea013474afa6'}]

In [9]:
%%time
files_to_dl = ["data.zip"]
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

CPU times: user 5.7 s, sys: 3.8 s, total: 9.5 s
Wall time: 4min 13s

In [10]:
%%time
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), 'r') as f:
    f.extractall(output_directory)

CPU times: user 14.5 s, sys: 1.15 s, total: 15.7 s
Wall time: 16.5 s

In [12]:
%ls -ltr figsharerainfall/

total 12102840
-rw-r--r--   1 sukhleen  staff  814041183 28 Mar 15:15 data.zip
-rw-r--r--   1 sukhleen  staff   95376895 28 Mar 15:15 MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff   94960113 28 Mar 15:15 AWI-ESM-1-1-LR_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff   82474546 28 Mar 15:15 NorESM2-LM_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  127613760 28 Mar 15:15 ACCESS-CM2_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  232118894 28 Mar 15:15 FGOALS-f3-L_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  330360682 28 Mar 15:15 CMCC-CM2-HR4_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  254009247 28 Mar 15:15 MRI-ESM2-0_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  235661418 28 Mar 15:15 GFDL-CM4_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  294260911 28 Mar 15:15 BCC-CSM2-MR_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  295768615 28 Mar 15:15 EC-Earth3-Veg-LR_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  328852379 28 Mar 15:15 CMCC-ESM2_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff   67784105 28 Mar 15:15 NESM3_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff   95640682 28 Mar 15:15 MPI-ESM1-2-LR_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  114707410 28 Mar 15:15 ACCESS-ESM1-5_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  116179272 28 Mar 15:15 FGOALS-g3_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  102517965 28 Mar 15:15 INM-CM4-8_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  515458033 28 Mar 15:15 MPI-ESM1-2-HR_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  332813281 28 Mar 15:15 TaiESM1_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  337555851 28 Mar 15:15 NorESM2-MM_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  328787320 28 Mar 15:15 CMCC-CM2-SR5_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff     952202 28 Mar 15:15 observed_daily_rainfall_SYD.csv
-rw-r--r--   1 sukhleen  staff   93829697 28 Mar 15:15 KIOST-ESM_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  102692289 28 Mar 15:15 INM-CM5-0_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  206822938 28 Mar 15:15 MIROC6_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff   55224437 28 Mar 15:15 BCC-ESM1_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  124586961 28 Mar 15:15 GFDL-ESM4_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff   46286371 28 Mar 15:15 CanESM5_daily_rainfall_NSW.csv
-rw-r--r--   1 sukhleen  staff  333489879 28 Mar 15:15 SAM0-UNICON_daily_rainfall_NSW.csv
drwxr-xr-x  30 sukhleen  staff        960 28 Mar 15:15 __MACOSX/

## Combining CSVs

In [40]:
%%time
use_cols = ["time", "lat_min", "lat_max", "lon_min", "lon_max", "rain (mm/day)"]
files = glob.glob('figsharerainfall/*.csv')
df = pd.concat((pd.read_csv(file, index_col=0, usecols=use_cols)
                .assign(model=re.findall(r'[^\/]+(?=\.)', file)[0].split("_daily")[0])
                for file in files)
              )
df.to_csv("figsharerainfall/combined_data.csv")

CPU times: user 12min 1s, sys: 23.9 s, total: 12min 25s
Wall time: 12min 39s

In [41]:
%%sh
du -sh figsharerainfall/combined_data.csv

 11G	figsharerainfall/combined_data.csv

In [54]:
df.shape

(124935686, 6)

In [55]:
df.head()

,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
time,,,,,,
1889-01-01 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.244226e-13,MPI-ESM-1-2-HAM
1889-01-02 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.217326e-13,MPI-ESM-1-2-HAM
1889-01-03 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.498125e-13,MPI-ESM-1-2-HAM
1889-01-04 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.251282e-13,MPI-ESM-1-2-HAM
1889-01-05 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.270161e-13,MPI-ESM-1-2-HAM

## EDA in Python

In [56]:
df.dtypes

lat_min          float64
lat_max          float64
lon_min          float64
lon_max          float64
rain (mm/day)    float64
model             object
dtype: object

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 124935686 entries, 1889-01-01 12:00:00 to 2014-12-31 12:00:00
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   lat_min        float64
 1   lat_max        float64
 2   lon_min        float64
 3   lon_max        float64
 4   rain (mm/day)  float64
 5   model          object
dtypes: float64(5), object(1)
memory usage: 6.5+ GB

In [58]:
df.describe()

            lat_min       lat_max       lon_min       lon_max  rain (mm/day)
count  1.184971e+08  1.249357e+08  1.184971e+08  1.249357e+08   1.184971e+08
mean  -3.310482e+01 -3.197757e+01  1.469059e+02  1.482150e+02   1.901170e+00
std    1.963549e+00  1.992067e+00  3.793784e+00  3.809994e+00   5.585735e+00
min   -3.646739e+01 -3.600000e+01  1.406250e+02  1.412500e+02  -3.807373e-12
25%   -3.486911e+01 -3.366221e+01  1.434375e+02  1.450000e+02   3.838411e-06
50%   -3.300000e+01 -3.204188e+01  1.468750e+02  1.481250e+02   6.154947e-02
75%   -3.140170e+01 -3.015707e+01  1.501875e+02  1.513125e+02   1.020918e+00
max   -2.990000e+01 -2.790606e+01  1.537500e+02  1.556250e+02   4.329395e+02